* {
    margin: 0;
    padding: 0;
}
html, body, #app, .wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    font-family: "microsoft yahei", 'PingFang SC', "Helvetica Neue", Helvetica, arial, STHeiTi, sans-serif;
}
a {
    text-decoration: none
}
:root {
    --header-height: 50px;
    --header-font-size: 22px;
    --collapse-btn-padding: 21px;
    --collapse-btn-line-height: 50px;
    --logo-line-height: 45px;
    --logo-padding-left: 0;
    --username-font-size: var(--el-font-size-base);
    --content-box-padding-bottom: 30px;
    --tags-height: 30px;
    --tags-li-height: 23px;
    --tags-close-box-height: 30px;
    --tags-close-box-el-drop-down-margin-top: 0;
    --tags-close-box-el-drop-down-button-height: var(--el-button-size);
}
:root[theme-mode="small"] {
    --header-height: 30px;
    --header-font-size: 16px;
    --collapse-btn-padding: 24px;
    --collapse-btn-line-height: 40px;
    --logo-line-height: 30px;
    --logo-padding-left: 10px;
    --username-font-size: 12px;
    --content-box-padding-bottom: 25px;
    --tags-height: 25px;
    --tags-li-height: 16px;
    --tags-close-box-height: 25px;
    --tags-close-box-el-drop-down-margin-top: 1px;
    --tags-close-box-el-drop-down-button-height: 20px;
}
.header {
    background-color: #404040;
    color: #fff;
    height: var(--header-height);
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    font-size: var(--header-font-size);
    .collapse-btn {
        float: left;
        padding: 0 var(--collapse-btn-padding);
        cursor: pointer;
        line-height: var(--collapse-btn-line-height);
        &:hover {
            background: #333;
        }
    }
    .logo {
        float: left;
        line-height: var(--logo-line-height);
        padding-left: var(--logo-padding-left);
    }
    .header-right {
        float: right;
        padding-right: var(--header-height);
        .header-user-con {
            display: flex;
            height: var(--header-height);
            align-items: center;
            .btn-fullscreen, .btn-expandTags {
                transform: rotate(45deg);
                margin-right: 5px;
                margin-top: 3px;
                font-size: 24px;
                position: relative;
                width: 30px;
                height: 30px;
                text-align: center;
                border-radius: 15px;
                cursor: pointer;
            }
            .btn-expandTags {
                transform: rotate(0deg);
                font-size: 18px;
                width: 22px;
                height: 22px;
            }
            .user-name {
                margin-left: 10px;
                font-size: var(--username-font-size);
                .el-dropdown-link {
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}

.sidebar {
    z-index: 9999;
    display: block;
    position: absolute;
    left: 0;
    top: var(--header-height);
    bottom: 0;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0;
    }
    &-el-menu:not(.el-menu--collapse) {
        width: 200px;
    }
    ul {
        height: 100%;
    }
}
.sidebarsubmenu {
    .el-menu-item {
        &.is-disabled {
            opacity: 1;
            cursor: pointer;
        }
        &:hover {
            background-color: var(--el-menu-hover-bg-color) !important;
        }
    }
}
.sidebar-el-menu {
    li {
        .el-menu-item {
            &.is-disabled {
                opacity: 1;
                cursor: pointer;
            }
            &:hover {
                background-color: var(--el-menu-hover-bg-color) !important;
            }
        }
    }
}

$menuWidth: 64px;
.content-box {
    position: absolute;
    left: $menuWidth;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    padding-bottom: var(--content-box-padding-bottom);
    // -webkit-transition: left .3s ease-in-out;
    // transition: left .3s ease-in-out;
    background: #f0f0f0;
    .tags {
        position: relative;
        height: var(--tags-height);
        overflow: hidden;
        background: #fff;
        padding-right: 120px;
        box-shadow: 0 5px 10px #ddd;
        z-index: 9998;
        ul {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            .tags-li {
                float: left;
                margin: 3px 5px 2px 3px;
                border-radius: 3px;
                font-size: 12px;
                overflow: hidden;
                cursor: pointer;
                height: var(--tags-li-height);
                line-height: var(--tags-li-height);
                border: 1px solid #e9eaec;
                background: #fff;
                padding: 0 5px 0 12px;
                vertical-align: middle;
                color: #666;
                -webkit-transition: all 0.3s ease-in;
                -moz-transition: all 0.3s ease-in;
                transition: all 0.3s ease-in;
                &:not(.active):hover {
                    background: #f8f8f8;
                }
                &.active {
                    color: #fff;
                    border: 1px solid #71c671;
                    background-color: #71c671;
                    .tags-li-title {
                        color: #fff;
                    }
                }
                .tags-li-title {
                    float: left;
                    max-width: 200px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-right: 5px;
                    color: #666;
                }
            }
        }
        .tags-close-box {
            position: absolute;
            right: 0;
            top: 0;
            box-sizing: border-box;
            padding-top: 1px;
            text-align: center;
            width: 110px;
            height: var(--tags-close-box-height);
            background: #fff;
            box-shadow: -3px 0 15px 3px rgba(0, 0, 0, 0.1);
            z-index: 10;
            .el-dropdown {
                margin-top: var(--tags-close-box-el-drop-down-margin-top);
                .el-button {
                    height: var(--tags-close-box-el-drop-down-button-height);
                }
            }
        }
    }
    .content {
        width: auto;
        height: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
}

.workbench-app-enter-active {
    animation: moveIn 0.3s;
}
.workbench-app-leave-active {
    animation: moveOut 0.3s;
}

.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title {
    color: var(--el-menu-active-color) !important;
}

.el-popper[role=tooltip],.el-popper.user-namelogout {
    z-index: 9999999 !important;
}

:root {
    --bg-color: hsla(0deg, 0%, 100%, 1);
    --box-width: 300px;
    --box-zindex: 9;
    --box-title-bg-color: #409eff;
    --box-title-font-color: #fff;
    --box-list-width: auto;
}

@keyframes moveIn {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes moveOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(200px);
    }
}